body {
  background-color: #221F1F;
  color: #f5f5f1;
}

.navbar-nav .nav-link {
  font-size: 90%;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}
